
  thead
  {
    background-color: lightgray;
    padding:4px!important;
  }
table{
  width:100%;
}

.buttons
{
  float: right;
  width: 80px;
  button
  {
    width: 36px;
    padding: 10px!important;
  }
}
  .admin-article {
    padding: 100px 15px;
    background-color: #F4F4F4;

    &__heading {
      font-weight: 900;
      text-transform: uppercase;
    }

  }

  .background
  {
    background-color: rgba(255, 255, 255, 0.6)!important;
  }