// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  font-family: 'Montserrat', sans-serif;
}

.button {
  background-color: #7089eb;
  border: none;
  padding: 10px;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 5px 0;

  transition: background-color 1s;

    &__delete {
        background-color: #ff2e21;
    }
}

.button:hover{
  background-color: #5151a0;
}

.textbox{
  margin: 5px 0;
  padding: 5px;
}

.maps{
  height:450px;
}
