.article {
        padding: 100px 15px;
        background-color: #F4F4F4;

    &__heading {
        font-weight: 900;
        text-transform: uppercase;
    }

    &__photo {
        background-image: url("../images/headermain.jpg");
        background-size: cover;

        &:after {
            z-index: 0 !important;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.2);
        }
    }

    .button {
        background: black !important;
        padding: 5px 20px;
        float: right;
        font-weight: 700;
        font-size: 18px;
    }
}
