footer {
    ul {
        list-style: none;
        color: white;
    }
    .footercontent {
        padding: 40px;
        @media (min-width: 801px) {
            padding: 80px;
        }

    }
    li {
        padding-bottom: 10px;
    }

}
