.navigation {
  position: fixed;
  width: 100%;
  background-color: transparent;

  &__wrapper {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

    &-link {
      font-size: 18px;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0 15px;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }

    &-logo {
      font-size: 18px;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0 15px;
    }
  }

}

.header {
  background-image: url("../images/headermain.jpg");
  background-size: cover;
  position: relative;
  color: white;
  height: 100vh;
  z-index: -1;

  &.content{
    height: 30vh!important;
  }

  &:after {
    z-index: -2;
    content: '';
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: rgba(0, 0, 0, 0.4);
  }
}
