.products-page {
    a :hover {
        text-decoration: none;

    }
}

.bottomRight
{
    right:10px;
    bottom: 10px;
}

.product-image {
    background-image: url("../images/header.jpeg");
    background-size: cover;
    min-height: 200px;
    background-position: bottom;
}

.product-detail-image {
    background-image: url("../images/header.jpeg");
    background-size: cover;
    min-height: 30vh;
}

.products {
    padding: 25px 0;

    &--button {
        width: 100%;
        margin: 0;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }

    &--buttonwrap {
        width: 100%;
        right: 0;
        left: 0;
        bottom: 0;
    }

    &--list {
        padding: 0;
        li {
            list-style-type: none;
            padding: 10px 0;
            border-bottom: solid lightgrey 1px;

            &:last-child {
                padding-bottom: 0;
                border: none;
            }
        }
    }

    &--card {
        padding-bottom: 50px;
        min-height:300px;
    }

    &--price {
        min-height:60px;
    }

    &--title {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 18px;
    }
}

.brands {
    list-style: none;
    padding-left: 1rem;
}

.filter {
    background-color: gray;
    height: 40px;
    width: 100%;
}

.products {
    &__block {
        background: white;
        padding: 100px 0;

        &--heading {
            margin-bottom: 75px;
        }

        &--products {

            .single {
                max-width: 300px;
            }

            &-photo {
                background: lightgrey;
                width: 100%;
                height: 500px;
                background-image: url("../images/header.jpeg");
                background-size: cover;
                position: relative;

                &:after {
                    z-index: 0 !important;
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.2);
                }
            }

            &--info {
                margin-top: 20px;
                &-name {
                    display: inline;
                    font-size: 22px;
                }

                &-price {
                    float: right;
                    font-size: 18px;
                    font-weight: 700;
                    color: rgb(51, 115, 191);
                }
            }
        }
    }
}
.dropdown-width{
    width: 100%!important;
    background: black !important;
    border:none !important;
    transform: translate3d(0px, 43px, 0px)!important;
    border-radius: 0;
}
.custom-item{
    text-align: center;
    color: white;
    width: 100%;
    font-weight: 900;
    float: right;
    font-size: 16px;
    text-transform: uppercase;
}
