.products-page
{
  a :hover
  {
    text-decoration: none;

  }
}
.product-image
{
  background-image: url("../images/headermain.jpg");
  background-size: cover;
  min-height: 100px;
}
.product-detail-image
{
  background-image: url("../images/headermain.jpg");
  background-size: cover;
  min-height: 30vh;
}


.product
{
  border: 2px solid gray;
}
.products
{
  padding: 25px 0;
}
.brands
{
  list-style: none;
  padding-left: 1rem;

}
.filter{
  background-color: gray;
  height: 40px;
  width: 100%;
}