.reviews {
    padding: 100px 0;
    background: #29785b;

    &__heading {
        color: white;
        text-align: center;
        margin-bottom: 25px;
    }

    &__review {
        font-style: italic;
        text-align: center;
        color: white;
        max-width: 500px;
        margin: 0 auto 25px auto;
    }

    &__author {
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-weight: 900;
    }
}

.review-list {
    padding: 100px 0;
    .single-review {
        box-shadow: 0 0 5px rgba(49, 49, 49, 0.1);
        padding: 50px;
        margin-bottom:40px;

        h2 {
            margin-bottom: 20px;
        }

        p {
            font-style: italic;

            &:before, &:after {
                content:'"';
            }
        }

        p:last-child {
            font-style: normal;
            font-weight:900;

            &:before, &:after {
                content:'';
            }
        }
    }
}
