footer ul {
  list-style: none;
  color: white;
}

footer .footercontent {
  padding: 40px 0;
}

@media (min-width: 801px) {
  footer .footercontent {
    padding: 80px 0;
  }
}

footer li {
  padding-bottom: 10px;
}

