.navigation {
  position: fixed;
  width: 100%;
  background-color: transparent;
}

.navigation__wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.navigation__wrapper-link {
  font-size: 18px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 15px;
}

.navigation__wrapper-link:hover {
  text-decoration: none;
  color: white;
}

.navigation__wrapper-logo {
  font-size: 18px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 15px;
}

.header {
  background-image: url(/images/headermain.jpg?5a34b6271a676ccf26cfe9ba9e50440b);
  background-size: cover;
  position: relative;
  color: white;
  height: 100vh;
  z-index: -1;
}

.header.content {
  height: 30vh !important;
}

.header:after {
  z-index: -2;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

