.navigation {
  position: fixed;
  width: 100%;
  background-color: transparent;
}

.navigation__wrapper {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.navigation__wrapper-link {
  font-size: 18px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 15px;
}

.navigation__wrapper-logo {
  font-size: 18px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 15px;
}

.header {
  background-color: #1b1e21;
  color: white;
  height: 70vh;
}

