body {
  overflow-x: hidden;
}

.navigation {
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color: transparent;
  transition: 0.3s ease;
}

.navigation.header--white {
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.navigation.header--white .navigation__wrapper-link,
.navigation.header--white .navigation__wrapper-logo {
  color: black;
}

.navigation__wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.navigation__wrapper-link {
  font-size: 18px;
  color: white;
  padding: 0 15px;
  transition: 0.3s ease;
}

.navigation__wrapper-link:hover {
  text-decoration: none;
  color: white;
}

.navigation__wrapper-logo {
  font-size: 26px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 15px;
  transition: 0.3s ease;
}

.navigation__wrapper-logo:hover {
  color: white;
  text-decoration: none;
}

.header {
  background-image: url(/images/headermain.jpg?5a34b6271a676ccf26cfe9ba9e50440b);
  background-size: cover;
  position: relative;
  color: white;
  height: 100vh;
}

.header div {
  z-index: 1;
}

.header:after {
  z-index: 0 !important;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.header .scroll-icon {
  background-image: url(/images/scrollArrow.png?03f4d529955d3f3695d9ce53fc34c9e6);
  background-size: cover;
  width: 65px;
  height: 65px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

.header.content {
  height: 30vh !important;
}

